footer
  background-color grey_main_color
  color #000
  grid-row-start 2
  grid-row-end 3
  text-align center
  padding 5px 0
  .footer-wrapper
    display flex
    align-items center
    justify-content space-between
    >img
      height 100px
      width auto
  .copyright
    font-weight 700
